.card-stack {
  margin-top: 2rem;
  display: grid;
  grid-template: 1fr/1fr;
  perspective: 100px;
  perspective-origin: 50% 10%;

  & .card {
    grid-row: 1;
    grid-column: 1;
    margin: 0 auto;
    touch-action: none;
    pointer-events: auto;

    width: 35rem;
    height: 40rem;
    transition: background-color 0.15s ease-out;
  }
}

.card--top-deck {
  background-color: yellow;
}

.grabbed {
  transform: scale(1.05);
  background-color: rgb(200, 200, 255);
}

.card--over-drop-off {
  background-color: rgb(173, 173, 255);
}
