@font-face {
  font-family: SuisseIntl-Bold;
  src:
    url(../assets/fonts/SuisseIntl-Bold-WebTrial.woff2) format('woff2'),
    url(../assets/fonts/SuisseIntl-Bold-WebTrial.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SuisseIntl-Regular;
  src:
    url(../assets/fonts/SuisseIntl-Regular-WebTrial.woff2) format('woff2'),
    url(../assets/fonts/SuisseIntl-Regular-WebTrial.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SuisseWorks;
  src:
    url(../assets/fonts/SuisseWorksTrial-Regular.woff2) format('woff2'),
    url(../assets/fonts/SuisseWorks-Regular-WebTrial.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
