footer {
  margin-top: auto;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

.footer__netpicks-icon {
  object-fit: cover;
  height: 1.7rem;
  width: 1.7rem;
  filter: invert(1);
}

.footer__copyright {
  font-family: serif;
  font-size: 1.2rem;
  text-transform: capitalize;

  &::before {
    content: '\00A9';
    padding-right: .2rem;
  }
}

@media only screen and (min-width: 501px) {
  .page--home .footer__netpicks-icon {
    height: 3rem;
    width: 3rem;
  }

  .page--home .footer__copyright{
    font-size: 1.7rem;
  }


}
