.page--home {
  max-width: 100%;
  width: 100%;
}

.plan-one {
  margin: 0 auto;
}

.plan-one__picture {
  display: block;
  height: 20rem;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.plan-one__block {
  padding: 0 var(--padding-default);
  display: block;

  & span {
    display: inline-block;
    margin-bottom: .9rem;
    font-size: var(--font-size-larger);
  }
}

.plan-one__questions {
  margin-bottom: 2rem;
}

.plan-one__title {
  text-align: center;
  margin-top: 0;
  font-size: 11vw;
  font-family: var(--font-family-sans-serif);
  font-weight: bold;
  text-transform: uppercase;
}

.plan-one__drop-down {
  background: none;
  border: none;
  border: 1px solid var(--color-primary-lighter);
  padding: var(--padding-non-uniform);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-larger);
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 1.5rem;

}

.plan-one__submit {
  display: block;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  text-transform: uppercase;
  background-color: var(--color-secondary);
  font-weight: bold;

  cursor: pointer;
  transition: color .12s ease-in-out;

  &:hover {
    color: var(--color-primary-lighter);
  }

  &:active {
    color: var(--color-primary);
    outline: none;
    border: none;
  }
}

/* ________________________________________________________________________________________ MOVIE NIGHT OVERVIEW */

.movie-nights {
  margin-top: 8rem;
}

.movie-nights__item {
  display: block;
  background-color: var(--color-secondary);
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  color: var(--color-primary);
  border-radius: .5rem;
  width: 100%;
  text-decoration: none;
}

.movie-nights__title {
  padding-left: var(--padding-default);
  font-size: 6rem;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  text-transform: uppercase;
}

.movie-night {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-default);
  padding-bottom: 0;
}

.movie-night__info {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 35rem;
}

.movie-night__adress {
  font-family: var(--font-family-serif);
  font-weight: 400;
}

.movie-night__title {
  font-size: var(--font-size-sub-title);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.movie-night__poster {
  height: 25rem;
}

@media (--only-larger-screens) {

  .plan-one {
    display: grid;
    grid-template: min-content auto / auto min-content;
    grid-template-areas:
      'picture title'
      'picture form';
    height: 60rem;

    & .plan-one__title {
      grid-area: title;
      width: 55rem;
      padding: .5rem 0;
      line-height: calc(var(--font-size-title-large) * .9);
      text-align: right;
      font-size: var(--font-size-title-large);
      border-top: none;
    }

    & .plan-one__picture {
      grid-area: picture;

      & img {
        object-fit: cover;
        height: 60rem;
      }
    }

    & .plan-one__form {
      margin-top: auto;
      grid-area: form;
    }
  }

  .page--home {

    max-width: 135rem;
    margin: 0 auto;

    & .movie-nights {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    & .movie-nights__title {
      grid-row: 1;
      grid-column: 1 / span 2;
      margin-bottom: 0;
    }

    & .movie-night {
      height: 25rem;
    }

    & .movie-night__title {
      font-size: var(--font-size-sub-title);
    }

    & .movie-night__poster {
      object-fit: cover;
      height: 100%;
      width: auto;
    }
  }
}

@media (--only-largest-screens) {

  .page--home {

    & .movie-nights {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    & .movie-nights__title {
      grid-row: 1;
      grid-column: 1 / span 3;
      margin-bottom: 0;
    }

    & .movie-night {
      height: 25rem;
    }

    & .movie-night__title {
      font-size: var(--font-size-sub-title);
    }

    & .movie-night__poster {
      object-fit: cover;
      height: 100%;
      width: auto;
    }
  }
}
