.ticket{
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: 7rem;
}

/* .ticket__title{
    background-image: url("./assets/images/ticketTop.png");

} */

.ticket__tear{
    width: 100%;
}

.upsidedown{
    transform: rotate(180deg) scaleX(-1);
    margin-top: 3rem;
}

.ticket__title--hidden{
    display: none;
}

.ticket__info {
    /* width: 95%; */
    margin: auto;
}

.ticket-night__title{
    width: 66.666666666%;
}

.ticket__movie-title{
    text-transform: uppercase;
}

.ticket-margin{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.ticket__summary{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ticket-margin__top{
    margin-top: 3rem;
}

.movie-ticket__adress{
    text-align: center;
    font-size: 1.7rem;
    font-family: nimbus-roman,serif;
    font-weight: 400;
}

.horizontal__divider{
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  margin-top: -3rem;
  border-left: 1px solid var(--color-primary-lighter);
  border-right: 1px solid var(--color-primary-lighter);
  padding-bottom: var(--divider-padding);
  padding-top: var(--divider-padding);

}