nav {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav__title {
  & img {
    object-fit: cover;
    object-position: center center;
    width: 27.5rem;
  }
}

@media (--only-larger-screens) {

  .page--home {

    & .nav__title-logo {
      object-fit: cover;
      height: 5vmin;
      width: auto;
    }

    & .nav__user {
      font-size: var(--font-size-medium);
    }
  }
}
