.filtered {
  width: min-content;
}

.filtered__overview {
  width: min-content;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(10, 1fr);

  border: 1px solid var(--white);
  padding: 1.5rem;
  border-radius: 1.25rem;
  gap: 1rem;
}

.filtered__movie {
  background-color: var(--white);
  border-radius: .35rem;
  width: 3rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  /* &:after {
    content: 'emoji';
    border: 1px solid black;
  } */
}

.question-card {
  margin-top: 3rem;
  width: 30rem;

  background-color: var(--white);
  color: var(--paleBlue);

  padding: 1.5rem;
  border-radius: 1rem;
}

.question__form {
  display: grid;
  grid-template-columns: min-content min-content auto;
  gap: 1rem;

  align-items: flex-end;

}

.question__radio + .question__label {
  white-space: nowrap;
  border: 1px solid var(--paleBlue);
  background-color: transparent;
  color: var(--paleBlue);
  padding: .5rem 1rem;
  border-radius: .2rem;
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;

  transition: border .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out;

  &:hover {
    background-color: var(--paleBlue);
    border: 1px solid var(--deepBlue);
    color: var(--white);
  }

}

.question__radio:checked + .question__label {
  background-color: var(--deepBlue);
  color: var(--white);
  border-color: var(--deepBlue);
}

.question__radio {
  width: 0;
  display: none;
}

.question__next {
  border: none;
  background: transparent;
  color: var(--deepBlue);
  display: inline;
  text-align: end;
  width: min-content;
  justify-self: flex-end;
  margin-right: 1rem;
  cursor: pointer;
  transition: transform .15s ease-in-out;
  padding: 0;
  height: min-content;

  &:hover {
    transform: translateX(1rem);
  }
}
