:root {
  --deepBlue: #0078ff;
  --white: white;
  --paleBlue: #479dff;
  --color-primary: #1e1e1e;
  --color-primary-light: #505050;
  --color-primary-lighter: #818181;
  --color-primary-lightest: #b4b4b3;
  --color-secondary: #f7f6ef;
  --color-error: rgb(230, 80, 80);
  --divider-padding: .9rem;
  --padding-large: 3.5rem;
  --padding-default: 1.2rem;
  --padding-non-uniform: .6rem 1.2rem;
  --padding-answer-arrows: .9rem;
  --font-size-title-large: 7rem;
  --font-size-title: 4.5rem;
  --font-size-title-smaller: 3.25rem;
  --font-size-sub-title: 2.5rem;
  --font-size-largest: 2.2rem;
  --font-size-larger: 1.9rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.2rem;
  --font-size-smallest: .9rem;
  --step-icon-size: .7rem;
  --stack-offset-y: .5rem;
  --stack-offset-z: .5rem;
  --detail-action-radius: 4rem;
}

@custom-media --only-larger-screens (width >= 800px);
@custom-media --only-largest-screens (width >= 1100px);
