@import './css/fonts.css';
@import './css/variables.css';
@import './css/reset.css';
@import './css/stepTwo.css';
@import './css/home.css';
@import './css/nav.css';
@import './css/footer.css';
@import './css/detail.css';
@import './css/cards.css';
@import './css/dev.css';

/* stylelint-disable */
*, *::before, *::after{
  box-sizing: border-box;
}
/* stylelint-enable */

html {
  box-sizing: inherit;
  font-size: 62.5%;
  height: 100%;
}

body {
  width: 50rem;
  height: 100%;
  margin: 0 auto;

  display: grid;
  grid-template: min-content auto min-content / 50rem;

  background-color: var(--color-secondary);
  font-family: sans-serif;
  color: var(--color-primary);
}

.hidden {
  display: none;
}

.center-align-margin {
  margin-left: auto;
  margin-right: auto;
}

.divider {
  width: 100%;
  content: '';
  border-bottom: 1px solid var(--color-primary-lighter);
  padding-bottom: var(--divider-padding);
  padding-top: var(--divider-padding);
}
