@import './css/variables.css';
@import './css/reset.css';
@import './css/stepTwo.css';
@import './css/home.css';
@import './css/nav.css';
@import './css/footer.css';
@import './css/detail.css';
@import './css/cards.css';
@import './css/dev.css';
@import './css/signInUp.css';
@import './css/invite.css';

/* Documentation: https://preset-env.cssdb.org/features#media-query-ranges */

/* stylelint-disable */
*, *::before, *::after{
  box-sizing: border-box;
}
/* stylelint-enable */

html {
  box-sizing: inherit;
  height: 100%;
  font-size: 62.5%;
}

body {
  max-width: 65rem;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: min-content auto min-content / 1fr;

  background-color: var(--color-secondary);
  font-family: var(--font-family-sans-serif);
  color: var(--color-primary);
  font-weight: 400;
}
