@import './css/variables.css';
@import './css/reset.css';
@import './css/stepTwo.css';
@import './css/home.css';

/* stylelint-disable */
*, *::before, *::after{
  box-sizing: border-box;
}
/* stylelint-enable */

html {
  box-sizing: inherit;
  font-size: 62.5%;
  height: 100%;
}

body {
  width: 50rem;
  height: 100%;
  margin: 0 auto;

  display: grid;
  grid-template: min-content auto min-content / 50rem;

  background-color: var(--color-secondary);
  font-family: sans-serif;
  color: var(--color-primary);
}

.hidden {
  display: none;
}

.center-align-margin {
  margin-left: auto;
  margin-right: auto;
}

.divider {
  width: 100%;
  content: '';
  border-bottom: 1px solid var(--color-primary-lighter);
  padding-bottom: var(--divider-padding);
  padding-top: var(--divider-padding);
}

footer {
  margin-top: auto;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

.footer__netpicks-icon {
  object-fit: cover;
  height: 1.7rem;
  width: 1.7rem;
  filter: invert(1);
}

.footer__copyright {
  font-family: serif;
  font-size: 1.2rem;
  text-transform: capitalize;

  &::before {
    content: '\00A9';
    padding-right: .2rem;
  }
}

nav {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-primary);
}

.nav__user {
}
